body {
  margin: 0;
  padding: 0;
}

.leaderboard-container {
  padding: 20px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: auto;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  position: relative;
}

.leaderboard-title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  z-index: 1;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  min-width: 400px;
}

thead tr {
  background-color: #62a6ef;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

thead th, tbody td {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  min-width: max-content;
}

.team-name {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e091;
}

tbody tr:nth-child(odd) {
  background-color: white;
}
