body {
  margin: 0; /* Remove default body margin */
  padding: 0;
}

.leaderboard-container {
  padding: 20px;
  margin: 0 auto; /* Center container */
  overflow-x: auto;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds viewport */
  height: calc(100vh - 40px); /* Adjust height to allow scrolling */
  width: calc(100vw - 40px); /* Adjust height to allow scrolling */
  position: relative; /* Ensure proper positioning */
}

.leaderboard-title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
  font-size: 2rem;
  z-index: 1; /* Ensures the text appears above the background overlay */
}

table {
  border-collapse: collapse;
  table-layout: auto; /* Automatically adjust column width based on content */
  min-width: 400px; /* Ensures table spans the full width of the container */
}

thead tr {
  background-color: #62a6ef;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

thead th, tbody td {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  min-width: max-content;
}

.team-name {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #e0e0e091;
}

tbody tr:nth-child(odd) {
  background-color: white;
}
